h1
{
    text-align: center;
    color:rgb(29, 31, 27);
    background-color:rgba(202, 214, 193, 0.5);
    margin:20px;
    padding:5px;
}
body
{
    background-color:rgb(75, 92, 63);
}
form
{
    margin:0 20px;
    padding: 20px;
    background-color:rgb(202, 214, 193);
}
div
{
    display: inline-block;
}
.image
{
    text-align: center;
    width:100%;
    display: inline-block;
}
.image img
{
    width:300px;
    height:200px;
    margin-bottom:15px;
    opacity:0.8;
}
.container
{
    margin-top:5px;
}
.to-lable
{
    width:200px;
    float:left;
}
legend
{
    color:rgb(145, 113, 35);
    font-weight: bold;
    font-size:18px;
}
fieldset
{
    margin:5px;
}
label
{
    font-weight: bold;
    color: rgb(29, 34, 30);
}
button, .reset
{
    color:rgb(209, 195, 195);
    border:0;
    padding:4px 20px;
    font-size:15px;
    margin:6px;
}
button
{
    background-color:rgb(29, 31, 27);
}
.reset
{
    background-color:rgb(84, 88, 79);
}
button:hover, .reset:hover
{
   background-color:  rgb(145, 113, 35);
}