/* body {
    background-color:rgb(243, 243, 243);
}
.field {
    font-size:20px;
    color:red;
} */
/* .subfield {
    font-size: 16px;
    color:gray;
} */
/* img {
    width:400px;
    margin:20px 0;
    border:1px dotted gray;
} */
/* .description {
    font-style:italic;
} */
/* .news-link {
    color:brown;
}
.news-link:hover {
    color:orange;
} */
/* .top {
    text-align:center;
    color:darkgreen;
    font-size:18px;
} */
/* #general {
    padding:10px;
} */