body a, body a:hover {
    text-decoration:none;
}
body a {
    color:gray;
}
body a:hover {
    color:darkorange;
}
header .clothes {
    font-family: 'Andada', serif;
    font-size:62px;
}
header .clothes .big-letter {
    color:darkorange;
}
header .online-store {
    color:silver;
    font-size: 18px;
    margin:-15px 0 5px 10px;
}
header .basket-image {
    width:52px;
}
header nav {
    box-shadow:0 1px silver;
    margin:10px 0!important;
}
header nav .navbar-nav a {
    padding:15px 30px!important;
    margin:-5px 0!important;
    border-right:1px solid transparent;
}
article .sale {
    margin:15px 0;
}
article .card {
    margin:5px auto;
}
footer {
    margin:20px 0;
}
footer ul {
    padding:0;
}
footer ul li {
    list-style-type: none;
}
footer ul li:before {
    content: "> "; 
    color:darkorange;
}