<div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <exit-button></exit-button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h1>Messages to check</h1>
        <div class="box p-3">
          <div ng-if="emptyMessageList()">No messages to check...</div>
          <div ng-repeat="message in unapprovedStorage track by $index">
            from: {{message.username}}
            <div class="message">
              {{message.message}}
            </div>
            <button  class="btn btn-primary" ng-click="approveMessage($index)">Approve</button>
            <button class=" btn btn-primary" ng-click="deleteMessage($index)">Decline</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>