body {
	background: #F2E8D5;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0 5px 0 5px;
}

.browser-table td {
	text-align: center;
}

.browser-not-accepted {
	background: #C44230;
}

.browser-accepted {
	background: #39B54A;
}

.borwser-accepted-not-all { 
background: #838383;
}

.global-wraper {
	max-width: 100%;
	min-width: 1000px;
}

.browser-table td, th{
	width: 10%;
	height: 30px;
}

.not-active {
	background: #EAE1CE;
}

.ie	{
	border-bottom: 4px solid #385884;
}

/*.ie-11 :after {
	content: "../img/ie-11.jpg";
}

.ie-11 :after :hover {
	content: "../img/ie-11.jpg";
}*/

.edge {
	border-bottom: 4px solid #385884;
}

.firefox {
	border-bottom: 4px solid #A36223;
}

.chrome {
	border-bottom: 4px solid #3F77BB;
}

.safari {
	border-bottom: 4px solid #666666;
}

.ios-safari {
	border-bottom: 4px solid #333333;
}

.opera-mini {
	border-bottom: 4px solid #992626;
}

.chrome-andr {
	border-bottom: 4px solid #3F77BB;
}

.ucb {
	border-bottom: 4px solid #000000;
}

.si {
	border-bottom: 4px solid #9753FF;
}

th {
	font-weight: 400;
}

.bold-border {
	border: 5px solid #584E3B;
	padding-left: 0;
	padding-right: 0;
}

.chrome-49 :hover{
	background: red;
	color: #ffffff;
}











/*body {
	background: #000;
	color: #fff;
}

.header {
	color: red;
	text-decoration: underline;
}*/