/* common styles */
body {
    padding:0;
    margin:0;
    height:100%;
}
body a, body a:hover {
    text-decoration:none;
}
/* top navbar */
nav .nav-item {
    font-size:14px;
}
.nav-link:hover {
    color:darkorange!important;
}
.telephone, .telephone:hover {
    font-size:16px!important;
    color:white!important;
}
/* header styles*/
header .logo .clothes {
    font-family: 'Andada', serif;
    color:darkslategray;
    font-size:62px;
}
header .logo .clothes .big-letter {
    color:darkorange;
}
header .logo .online-store {
    color:silver;
    font-size: 18px;
    margin-left:5px;
    margin-top:-10px;
}
header .links-and-basket, header .links-and-basket a {
    font-size:13px;
    color:gray;
    margin-left:5px;
}
header .links-and-basket a:hover, 
header .links-and-basket .basket i,
header .links-and-basket .basket .basket-description .product-count {
    color:darkorange;
}
header .links-and-basket .basket i {
    font-size:48px;
    float:left;
}
header .links-and-basket .basket i:hover {
    color:darkslategray;
}
header .links-and-basket .basket .basket-description{
    float: left;
    margin:5px 10px;
}
header .links-and-basket .basket .basket-description .basket-text {
    font-size:15px;
    color:black;
}
/*menu categories*/
header nav {
    box-shadow:0 1px silver;
    margin:15px 0!important;
}
header nav .navbar {
    height:100%;
    padding:0px!important;
    margin:0px!important;
}
header nav .nav-item {
    background-color:transparent;
    color:darkslategray!important;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    border-right:2px solid white;
}
header nav .navbar-nav a {
    padding:16px 42px!important;
    margin:-8px 0!important;
    border-right:1px solid transparent;
} 
header nav .navbar-nav a:hover {
    background-color:darkslategray!important;
    color:white!important;
    border-bottom:4px solid darkorange;
    padding-bottom:12px!important;
    border-right:1px solid transparent;
}
header nav .navbar-toggler {
    font-size:16px;
    width:90%;
    margin:0 auto;
    background-color:whitesmoke;
}
/*main styles*/
main .sales {
    margin:20px 0;
}
main .sales img {
    width:100%;
    padding:0!important;
    margin:0!important;
}
main .sales a {
    padding:2px;
    margin:0;
}
/* article styles */
main article hr {
    background-color:darkslategray;
    height:1px;
}
main article .card {
    color:gray;
    font-size:13px;
    text-align: justify;
    border:0;
    padding:0 30px;
    margin:0 auto;
}
main article .card .card-body {
    margin:20px 0;
    padding: 0;
}
main article .card .card-title {
    font-size:16px;
}
main article .card .card-title a {
    color:darkorange;
}
main article .card .card-title a:hover {
    color:rgb(77, 66, 66);
    text-decoration: none;
}
main article .card .card-links {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    text-align:center;
}
main article .card .card-links .to-basket {
    background-color:darkslategray;
    min-width:100px;
}
main article .card .card-links .product-info {
    background-color:darkorange;
    min-width:100px;
}
main article .card .card-links .to-basket:hover {
    background-color:darkorange;
    color:white;
    text-decoration:none;
}
main article .card .card-links .product-info:hover {
    background-color:darkslategray;
    color:white;
    text-decoration:none;
}
main article .card .card-links .to-basket, .product-info {
    color:white;
    padding:5px 10px;
    margin-bottom:5px;
    width:48%;
}
main article .card .price {
    font-size: 19px;
    color:black;
}
/* footer styles*/
footer {
    padding-top:40px;
    font-size:14px;
    color:gray;
}
footer a {
    color:gray;
}
footer a:hover {
    color:darkorange;
}
footer ul {
    padding:0 30px!important;
}
footer ul li {
    list-style-type: none;
}
footer ul li:before {
    content: "> "; 
    color:darkorange;
}
footer .bottom-search {
    margin:10px 0;
}
footer .bottom-search .form-control {
    width:60%;
    height:30px;
    font-size: 12px;
    border-radius: 0;
}
footer .bottom-search .btn {
    width:25%;
    height:30px;
    padding:2px;
    font-size: 14px;
    background-color:darkslategray;
    border-radius: 0;
    border:none;
    color:white;
}
footer .bottom-search .btn-outline-success:hover {
    background-color:darkorange!important;
}
.copywrite {
    color:gray;
    font-size:13px;
    padding:0 30px 20px 30px;
}