// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize/components/color-variables";
$primary-color: #000000 !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';

$background-image: "https://fon-luchs.github.io/photography//images/fulls/DHC_2.jpg";
$parallax-image1: "https://fon-luchs.github.io/photography//images/fulls/DHC_3.jpg";
$parallax-image2: "https://fon-luchs.github.io/photography//images/fulls/DHC_1.jpg";

//media content classes
//
//  .hide-on-small-only
//  .hide-on-small-and-down
//  .hide-on-med-and-down
//  .hide-on-med-and-up
//  .hide-on-med-only
//  .hide-on-large-only
//  .show-on-large
//  .show-on-medium
//  .show-on-small
//  .show-on-medium-and-up
//  .show-on-medium-and-down

@media #{$small-and-down} {
  // styles for small screens and down
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}

body{
  //@extend .blue-grey, .lighten-4
}

.content{
  min-height: 800px;
  background-image: url($background-image);
}

.welcome{
  padding-top: 70px;
  color: #fff;
  min-height: 4300px;

  .col-srtate {
    padding: 5% 0 0 15%;
  }

  .welcome-content{
    padding: 0 10px 0 10px;
  }
}

.header{
  position: fixed;
  width: 100%;
  min-width: 500px;
  top: 0;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -65px;
}

.singin{
  margin-top: 80px;
  min-width: 100%;
  padding: 20%;
}

.welcome-content{

  Container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
  }
  .hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
  }
  .bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 800px;
  }
  #slide-1 .bcg {background-image:url($parallax-image1)}
  #slide-2 .bcg {background-image:url($parallax-image2)}
}
