/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  padding: 0;
  margin: 0; }

.grid-container {
  padding: 0 220px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0 auto; }

.section-title {
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  font-size: 36px; }

.top-nav {
  background: #000000; }
  .top-nav .grid-container {
    justify-content: space-between; }
    .top-nav .grid-container ul {
      margin: 40px 0;
      padding: 0; }
      .top-nav .grid-container ul li {
        display: inline-block;
        margin: 0 15px 0 5px;
        position: relative; }
        .top-nav .grid-container ul li a {
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          color: #ffffff; }
        .top-nav .grid-container ul li .circle {
          border-radius: 50%;
          background: red;
          width: 15px;
          height: 15px;
          position: absolute;
          color: white;
          font-size: 9px;
          text-align: center;
          top: -3px;
          left: 96px; }
    .top-nav .grid-container .right-nav li.cart {
      padding-left: 90px;
      margin-right: 0px; }
    .top-nav .grid-container img {
      width: 20px;
      display: inline-block; }

.menu-bar {
  line-height: 15px; }
  .menu-bar ul {
    margin: 0;
    padding: 0;
    width: 80%; }
    .menu-bar ul li {
      display: inline-block;
      position: relative;
      margin-right: 20px; }
      .menu-bar ul li a {
        font-family: "Georgia", sans-serif;
        font-size: 16px;
        color: #6e6e6e;
        text-transform: uppercase;
        text-decoration: none; }
        .menu-bar ul li a:hover, .menu-bar ul li a:active {
          color: #000000; }
        .menu-bar ul li a .fa-angle-down {
          color: #7a7a7a; }
          .menu-bar ul li a .fa-angle-down:hover {
            color: black; }
      .menu-bar ul li ul {
        position: absolute;
        width: 150px;
        margin: 0 0 0 -1px;
        background: #fff;
        padding: 0; }

.top-nav .icon-white {
  color: white; }

.logo {
  margin: 102px 0;
  font-size: 36px;
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #313131;
  text-align: center; }

.fa-search {
  color: #7a7a7a; }

.input-group {
  margin-bottom: 0;
  width: 20%; }

input[type="search"] {
  text-transform: uppercase;
  font-family: "Georgia", sans-serif;
  border: none;
  box-shadow: none;
  width: 90px; }
  input[type="search"]:focus {
    border: none;
    box-shadow: none;
    outline: none; }

.slider-box {
  background-color: #baf9c4;
  position: relative;
  display: flex; }
  .slider-box .info-collection {
    width: 50%; }
  .slider-box .frame {
    width: 264px;
    height: 445px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 61%; }
  .slider-box .img-slider {
    position: relative;
    height: 100%; }
    .slider-box .img-slider img {
      position: absolute;
      bottom: 0;
      left: 100%;
      z-index: 2;
      overflow: visible; }

.slick-list {
  padding-top: 130px; }

button.slick-next, button.slick-next:hover, button.slick-next:focus {
  right: 23px;
  background-image: url(../img/arrow-right.png);
  background-size: 20px; }
  button.slick-next::before, button.slick-next:hover::before, button.slick-next:focus::before {
    display: none; }

button.slick-prev, button.slick-prev:hover, button.slick-prev:focus {
  left: 23px;
  background-image: url(../img/arrow-left.png);
  background-size: 15px; }
  button.slick-prev::before, button.slick-prev:hover::before, button.slick-prev:focus::before {
    display: none; }

.slick-next, .slick-next:hover, .slick-next:focus, .slick-prev, .slick-prev:hover, .slick-prev:focus {
  width: 80px;
  height: 80px;
  background-color: white;
  opacity: 0.75;
  top: 61%;
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; }

.slick-dots {
  bottom: 200px;
  display: block;
  right: 313px;
  width: unset; }
  .slick-dots li {
    display: block; }

.slick-dots li button:before {
  font-size: 11px; }

.slider-box .info-collection {
  text-transform: uppercase;
  padding: 100px 0;
  width: 50%; }
  .slider-box .info-collection p {
    font-family: "Cairo", sans-serif;
    font-size: 24px; }
  .slider-box .info-collection p.description {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-transform: lowercase;
    font-size: 14px; }

.button, .submit input[type="submit"] {
  background: black;
  width: 152px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-family: "Georgia", sans-serif;
  font-size: 14px;
  cursor: pointer; }
  .button i, .submit input[type="submit"] i {
    margin-left: 10px; }

.new-arrives .grid-container {
  height: 760px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .new-arrives .grid-container > div {
    padding-left: 30px;
    text-transform: uppercase;
    transition: transform 0.5s;
    box-sizing: border-box; }
    .new-arrives .grid-container > div.grow:hover, .new-arrives .grid-container > div.grow:focus {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    .new-arrives .grid-container > div h4 {
      width: 104px;
      font-size: 18px;
      font-family: "Georgia", sans-serif;
      font-weight: 400; }
    .new-arrives .grid-container > div a {
      color: #acb0b1;
      font-size: 10px;
      font-family: "Georgia", sans-serif; }
    .new-arrives .grid-container > div.first {
      background-color: #e6eef0;
      height: 30%;
      margin: 0 15px 25px 0;
      background-image: url(../img/model-1.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      position: relative; }
    .new-arrives .grid-container > div.second {
      background: #fbfafa;
      height: 60%;
      margin: 25px 15px 0 0;
      background-image: url(../img/model-2.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      position: relative; }
    .new-arrives .grid-container > div.third {
      background: #f5f5f5;
      height: 60%;
      margin: 0 0 25px 15px;
      background-image: url(../img/model-3.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      background-size: 40%;
      background-position: right bottom; }
      .new-arrives .grid-container > div.third h4 {
        padding-top: 324px; }
    .new-arrives .grid-container > div.forth {
      background: #e6eef0;
      height: 30%;
      margin: 25px 0 0 15px;
      background-image: url(../img/model-4.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right; }
      .new-arrives .grid-container > div.forth h4 {
        padding-top: 45px; }
    .new-arrives .grid-container > div .description-best {
      position: absolute;
      top: 32%;
      padding-left: 0; }

.new-products {
  padding-top: 100px;
  font-size: 36px;
  text-align: center;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-weight: bold; }
  .new-products p {
    color: #6e6e6e;
    font-size: 12px; }
  .new-products .grid-container {
    display: block; }

.products-box {
  display: flex;
  flex-wrap: wrap; }

.gallery-box {
  height: 460px;
  margin-bottom: 60px;
  margin-right: 30px;
  position: relative;
  flex: 1 1 29%; }
  .gallery-box .gallery-box:nth-child(3), .gallery-box .gallery-box:nth-child(6) {
    margin-right: 0; }
  .gallery-box .image {
    background-color: #e6eef0;
    height: 70%; }
    .gallery-box .image.image-1 {
      background-image: url(../img/product-1.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .gallery-box .image.image-2 {
      background-image: url(../img/product-2.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .gallery-box .image.image-3 {
      background-image: url(../img/product-3.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .gallery-box .image.image-4 {
      background-image: url(../img/product-4.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .gallery-box .image.image-5 {
      background-image: url(../img/product-5.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .gallery-box .image.image-6 {
      background-image: url(../img/product-6.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
  .gallery-box:hover .image {
    height: 60%; }
  .gallery-box .description-item {
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-family: "Cairo", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    height: 30%;
    background-color: white; }
    .gallery-box .description-item .item-title, .gallery-box .description-item .design-yourself p, .design-yourself .gallery-box .description-item p {
      font-family: "Cairo", sans-serif;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0; }
    .gallery-box .description-item .price {
      color: #0cccc2;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      align-self: center; }
    .gallery-box .description-item .text p {
      margin: 0; }
    .gallery-box .description-item .display-hover {
      display: none; }
      .gallery-box .description-item .display-hover p, .gallery-box .description-item .display-hover h5 {
        margin: 0; }
      .gallery-box .description-item .display-hover .circle-color {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block; }
      .gallery-box .description-item .display-hover .circle-color-1 {
        background-color: #ff0033; }
      .gallery-box .description-item .display-hover .circle-color-2 {
        background-color: #ff4200; }
      .gallery-box .description-item .display-hover .circle-color-3 {
        background-color: #33cccc; }
      .gallery-box .description-item .display-hover .circle-color-4 {
        background-color: #6666cc; }
  .gallery-box:hover .image:before {
    background-color: #ccffff;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.72;
    height: 60%; }
  .gallery-box:hover .description-item {
    height: 40%;
    z-index: 3; }
  .gallery-box:hover .display-hover {
    display: block; }

.design-yourself {
  background-image: url(../img/design-yourself.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-position-x: right;
  background-position-y: bottom;
  height: 406px;
  justify-content: flex-start; }
  .design-yourself .design-title {
    padding-top: 100px;
    width: 50%; }
  .design-yourself .section-title {
    font-size: 30px; }
  .design-yourself .section-title span {
    font-weight: normal; }
  .design-yourself a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    cursor: pointer;
    background: none;
    text-decoration: none;
    color: #6e6e6e; }
    .design-yourself a i {
      margin-left: 10px; }

.red-friday {
  text-transform: uppercase;
  position: relative;
  padding-top: 100px; }
  .red-friday .button, .red-friday .submit input[type="submit"], .submit .red-friday input[type="submit"] {
    width: 153px;
    margin-bottom: 60px; }
  .red-friday .frame {
    width: 264px;
    height: 445px;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 61%; }
  .red-friday img {
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 56%;
    z-index: 3; }
  .red-friday p {
    text-transform: none;
    padding-bottom: 150px;
    color: #868686;
    font-family: 'Raleway', sans-serif;
    width: 530px; }
  .red-friday .section-title {
    width: 510px;
    padding-top: 56px; }

.submit {
  padding: 100px 0; }
  .submit .submit-text {
    width: 50%;
    flex: 1 1 50%;
    font-family: "Cairo", sans-serif;
    text-transform: uppercase;
    font-size: 14px; }
  .submit .submit-form {
    width: 300px;
    height: 60px;
    flex: 1 1 50%;
    text-align: center; }
  .submit input[type="text"] {
    display: inline-block;
    width: 50%;
    height: 90%; }
  .submit input[type="submit"] {
    width: 140px;
    height: 100%;
    margin-left: -5px;
    border: none; }
  .submit input::-webkit-input-placeholder {
    color: #bbbbbb;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase; }

.footer {
  border-top: 1px solid #dddddd;
  padding: 102px 0; }
  .footer .grid-container {
    justify-content: space-between;
    align-items: center; }
  .footer ul {
    padding: 0; }
    .footer ul li {
      display: inline-block;
      padding: 0 10px; }
      .footer ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #868686;
        font-family: "Georgia", sans-serif; }
        .footer ul li a:hover {
          color: black; }
  .footer .logo-footer.logo {
    margin: 0;
    font-size: 30px; }
  .footer p {
    text-transform: uppercase;
    color: #000000; }

@media (max-width: 1200px) {
  .grid-container {
    width: 1140px;
    max-width: 100%;
    padding: 0 15px; } }
@media (max-width: 992px) {
  .grid-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 960px;
    max-width: 100%; }

  .design-yourself .section-title {
    width: 65%; }

  .red-friday p {
    width: 450px; }

  .submit-text {
    text-align: center; }

  .design-yourself {
    background-position-x: 210%; }

  .footer .grid-container {
    flex-direction: column; }

  .slick-next, .slick-next:hover, .slick-next:focus, .slick-next:hover, .slick-next:focus, .slick-prev, .slick-prev:hover, .slick-prev:focus, .slick-prev:hover, .slick-prev:focus {
    width: 40px;
    height: 40px; }

  button.slick-next, button.slick-next:hover, button.slick-next:focus, button.slick-next:hover, button.slick-next:focus {
    background-size: 10px; }

  .slider-box .info-collection {
    padding: 20px 0; }

  .slider-box .frame {
    height: 375px; }

  .slider-box .img-slider img {
    height: 125%; }

  .slick-dots {
    right: 10px; } }
@media (max-width: 768px) {
  .grid-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 800px;
    max-width: 100%; }

  .new-arrives .grid-container {
    flex-direction: column; }

  .red-friday .section-title {
    width: 440px; }

  .red-friday p {
    widows: 335px; }

  .submit input[type="submit"] {
    width: 125px; } }
@media (max-width: 576px) {
  .grid-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 540px;
    max-width: 100%; }

  .new-arrives .grid-container {
    flex-direction: row; }

  .new-arrives .grid-container > div {
    width: 30%; } }

/*# sourceMappingURL=style.css.map */
