<div class="singin z-depth-3">
  <h1 class="center">Sing In</h1>
  <p>
    <input id="email" type="email" class="validate">
    <label for="email">email of username</label>

    <input id="password" type="password" class="validate">
    <label for="password">Password</label>
  </p>
</div>