body {
    background-color:rgb(230, 239, 240);
}
h1 {
    color:rgb(36, 41, 36);
    background-color:rgb(164, 212, 164);
    padding: 5px;
}
fieldset {
    margin:5px;
}
div {
    margin:2px 5px;
}
legend {
    color:rgb(36, 41, 36);
    font-size: 18px;
    font-weight: bold;
}
.label-div {
    width:220px;
    float:left;
}
.submit-btn, .reset {
    width:150px;
    font-size:15px;
    font-weight: bold;
    padding:2px 8px;
    margin:10px 5px;
}
.submit-btn:hover {
    color:rgb(219, 218, 199);
    background-color:rgb(13, 78, 62);
}
.reset:hover {
    color:rgb(219, 218, 199);
    background-color:rgb(124, 14, 50);
}
.submit-btn {
    color:rgb(36, 41, 36);
    background-color:rgb(133, 177, 133);
    border:1px solid rgb(36, 41, 36);
}
.reset {
    color:rgb(59, 5, 21);
    background-color:rgb(177, 133, 142);
    border:1px solid rgb(41, 36, 38);
}