body {
    background-color: #3366CC;
    color:rgb(49, 5, 5);
    font-size:20px;
}
    
#blockelement
{
    /* хекс */
    background-color:#ffffff;
    /* rgba-палітра */
    color:rgba(49, 5, 5, 0.4)
}
