body{
	background: #000;
	color: #ddd;
	font-family: sans-serif;


}
form{
	width: 400px;
	display: block;
	margin: auto;
	color: #111;
	background-color: #fff;
	border-radius: 7px;
	padding: 10px;
	box-shadow: 5px -5px 20px #111;
}
form>fieldset{
	border-radius: 5px;
	border-color: #000;
	margin: 10px;
	font-family: cursive;
}
form>fieldset>legend
{

	text-transform: lowercase;
	color: #fff;
	background-color: #449;
	border-radius: 4px;
	padding: 4px;
	font-family: monospace;
}
form>fieldset>div
{
	width: 50%;
	margin: auto;
	padding: 0;
}
form>fieldset>div>label
{
	
	padding: 0;
	margin: 0;
	display: inline-block;
	font-weight: bold;
	font-size: 11pt;
	
	
	
}
form>fieldset>div>input
{

	
	width: 100%;
	border: 1px solid #000;
	padding: 5px;
	margin: 5px 0 5px 0;
	
}
form>fieldset>div>select
{
	display: inline-block;
}
.country-select, .maried-status, .photo-select
{
	width: 100%;
	padding: 5px;
	margin: 0;
	border: 1px solid #000;
	text-align: center;
	overflow: hidden;
}
.gender-checkboxs
{
	text-align: center;
	font-family: sans-serif;
	border: 1px solid #000;
	margin: 0;
	width: 100%;
	padding: 5px;
	color: #222;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: bold;

}
.photo-select>input
{
	display: inline-block;
}



label{
	display: inline-block;
	width: 140px;
}


input
{
	border: none;

	padding: 4px;
	
	outline: none;
}

h1{
	display: inline-block;
	padding-bottom: 4px;
	border-bottom: 2px solid red;
}


form label:after
{
	content: ':';
}


form div{
	margin: 5px;
}



input[require]
{
	border-color: #f00;

	
}
.conteiner
{
	
	border: 1px solid red;
}
