body, html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #dde;
	font-family: sans-serif;
	font-size: 10pt;
}
.container{
	display: flex;
	flex-direction: column;

	width: 100%;
}
.page-container{
	margin-top: 15px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
header{
	min-width: 360px;
	width: 100%;
	height: 50px;
	background: #3A6698;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
header img{
	width: 40px;
}
header input{
	margin-left: 20px;
	height: 24px;
	border-radius: 24px;
	padding-left: 10px;
	border: none;
	background-color: #123B6A;
	outline: none;
}
header input::placeholder{
	color: #aaf;

}
header div{
	font-size: 20px;
	margin-left: 20px;
	padding: 5px;
}
header div:hover{
	background-color: #123B6A;
	cursor: pointer;
}
header input:focus::placeholder{
	opacity: 0;
}
header input:focus{
	background-color: #fff;
}
nav{
	width: 150px;
	min-width: 150px;
	margin: 0 10px 0 20px;
}
nav>ul{
	list-style-type: none;
	padding: 5px;
	margin: 0;
}
nav>ul>li>a{
	display: block;
	color: #338;
	padding: 5px;
	text-decoration: none;
	border-radius: 2px;
}
nav>ul>li>a:hover{
	background-color: #ccd;
}
main{
	width: 60%;
	margin: 0 10px 0 10px;
	max-width: 600px;
}
.add-entry-panel{
	background-color: #fff;
	width:  100%;
	height: 50px;
	margin-bottom: 10px;
	padding: 10px 0 10px 0;
	
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.add-entry-panel img{

	height: 35px;
	width: 35px;
	padding: 10px;
	border-radius: 100%;

}
.add-entry-panel input{
	height: 100%;
	flex-grow: 1;
	border: none;
	outline: none;
}
.add-entry-panel input:focus{
	font-size: 16px;
}

.news{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #666;
	margin-top: 20px;
}
.news a{
	text-decoration: none;
	font-weight: bold;
	color: #3A6698;
}
.news a:hover{
	text-decoration: underline;
}
.news .content{
	
	width: 90%;
}

.content img{
	max-width: 100%;
	display: block;
	padding: 10px 0 10px 0;
}
.news .author-info{
	padding: 5px;
	width: 90%;
	display: flex;
	align-items: center;
	flex-shrink: 2;
}
.author-info img{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin-right: 30px;
}
.news .buttons{
	border-top: 1px solid #99f;
	padding-top: 10px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	height: 40px;
}
.buttons button{
	border: none;
	display: inline-block;
	height: 30px;
	min-width: 30px;
	margin 10px;
}
aside{
	min-width: 150px;
	background-color: red;
	background: #fff;
	height: 300px;
	margin: 0 20px 0 10px;
}
aside>ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
aside>ul>li>a{
	display: block;
	color: #555;
	text-decoration: none;
	padding: 10px 10px 10px 15px ;
}
aside>ul>li>a:hover{
	background-color: #cce;
	padding-left: 12px;
	border-left: 3px solid #3A6698;
}
.panel{
	border-radius: 2px;
	border: 1px solid #ccc;
	background-color: #fff;
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	nav{
		flex-basis: 600px;
	}
	nav li{
		display: inline-block;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.page-container{
		width: 100%;
		justify-content: center;
	}
	nav{
		flex-basis: 100%;
		margin: 10px;
		order: -1;
	}
	nav li{
		display: inline-block;
	}
	aside{
		
		flex-grow: 1;
		order: 1;
		margin: 10px;
		margin-top: 0;	
	}
	aside ul{
		display: flex;
		flex-direction: column;
	
	}
	aside li{
		display: inline-block;
	}
	main{
		order: 2;
		flex-grow: 1;
		padding: 0;
		
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	.page-container{
		width: 100%;
		justify-content: center;
	}
	nav{
		flex-basis: 100%;
		margin: 10px;
		order: -1;
	}
	nav li{
		display: inline-block;
	}
	aside{
		flex-grow: 1;
		order: 1;
		margin: 10px;
		margin-top: 0;	
	}
	aside ul{
		display: flex;
		flex-direction: column;
	
	}
	aside li{
		display: inline-block;
	}
	main{
		order: 2;
		flex-grow: 1;
		padding: 0;
		
	}
}