$main-dark: #111; 
$main-back: #977;
$main-line-width: 10px;

@mixin container(){
	width: 100%;
	padding: 5px;
	margin: 0;
	border: 1px solid #000;
	text-align: center;
	overflow: hidden;
}
@mixin modern-a()
{
	 a{
	 	display: block;
	 	padding: 2px;
	 	margin: auto;
	 	text-align: center;
	 	font:
	 	{
	 		family: monospace;
	 		weight: bold;
	 		size: 12pt;
	 	}
		
		text-decoration: none;
		color: $main-dark;
	}
	a:hover{
		text-decoration: underline;
		background-color: $main-back;
	}
}
body{
	background-color: #000;
	color: #ddd;
	font-family: sans-serif;
	form{
		@include modern-a();
		width: 400px;
		display: block;
		margin: auto;
		color: $main-dark;
		background-color: #fff;
		border-radius: 7px;
		padding: $main-line-width;
		box-shadow: 5px -5px 20px $main-dark;
		fieldset{
			border-radius: 5px;
			border-color: $main-dark;
			margin: $main-line-width;
			font-family: cursive;
			legend{
				text-transform: lowercase;
				color: #fff;
				background-color: #449;
				border-radius: 4px;
				padding: 4px;
				font-family: monospace;
			}
			div{
				width: 50%;
				margin: auto;
				padding: 0;
				&.gender-checkboxs{
					text-align: center;
					font-family: sans-serif;
					border: 1px solid #000;
					margin: 0;
					width: 100%;
					padding: 5px;
					color: #222;
					text-transform: uppercase;
					font-size: 10pt;
					font-weight: bold;
				}
				&.photo-select{
					input{
						display: inline-block;
					}
				}
				&.maried-status{
					@include container();
				}
				&.country-select{
					@include container();
				}
				
				label{
					padding: 0;
					margin: 0;
					display: inline;
					width: 140px;
					&:after{
						content: ':';
					}
					font:{
						weight: bold;
						size: 11pt;
					}
				}
				input{
					width: 100%;
					border: 1px solid $main-dark;
					padding: 4px;
					outline: none;
					&[require]{
						border-color: #f00;	
					}
				}
				select{
					display: inline-block;
				}
			}
		}
		div{
			margin: 5px;
		}
	}
}