@media (max-width:767px) {
    main nav .nav-item:hover {
        padding:10px 20px;
        margin:-5px 5px;
        background-color:transparent!important;
        color:darkorange!important;
        border:none!important;
    }
    .links-and-basket {
        text-align:center;
    }
    main .btn:hover {
        background-color:transparent!important;
    }
}
@media (max-width:767px) {
    main article .card img {
        width:250px;
        margin:0 auto;
    }
    main article .card-body {
        width:90%;
        margin:15px auto!important;
    }
    .ml-auto {
        margin:0!important;
    }
}
@media (max-width:575px)
{
    hr {
        display:none;
    }
}
@media (max-width:1199px) {
    main article .card .card-links .to-basket, .product-info{
        width:100%;
    }
}
@media (max-width:991px) {
    main article .card .card-links .to-basket, .product-info{
        width:45%;
    }
}
