/*common styles*/
body {
    padding:0;
    margin:0;
    height:100%;
}
body a, body a:hover {
    text-decoration:none;
}
/* top navbar */
.silver-link {
    color:silver!important;
}
.silver-link:hover {
    color:darkorange!important;
}
.telephone, .telephone:hover {
    color:white!important;
    margin-right:5px;
}
nav .d-flex {
    padding:10px;
    margin:0 auto;
}
nav .nav-item {
    font-size:14px;
}
nav .p-2 {
    list-style:none;
}

/*HEADER STYLES*/

header {
    margin:0 auto;
}

header .logo .clothes {
    color:darkslategray;
    font-size:62px;
}
header .logo .clothes .big-letter {
    color:darkorange;
}
header .logo .online-store {
    color:silver;
    font-size: 20px;
    margin-left:5px;
    margin-top:-15px;
}
header .links-and-basket, header .links-and-basket {
    margin:0 auto;
}
header .links-and-basket, header .links-and-basket a {
    font-size:13px;
    color:gray;
    margin:2px;
}
header .links-and-basket .links ul {
    margin-left:10px;
    padding: 0;
}
header .links-and-basket .links li {
    display:inline-block;
    margin-left:3px;
}
header .links-and-basket .links a:hover {
    color:darkorange;
}
header .links-and-basket .basket i {
    color:darkorange;
    font-size:45px;
    margin:0 15px;
    float:left;
}
header .links-and-basket .basket i:hover {
    color:darkslategray;
}
header .links-and-basket .basket .basket-description{
    float: left;
    margin:2px;
}
header .links-and-basket .basket .basket-description .basket-text {
    font-size:15px;
    color:black;
}
header .links-and-basket .basket .basket-description .product-count {
    color:darkorange;
}

/*MAIN STYLES*/

main nav {
    width:100%;
    box-shadow:0 1px silver;
    margin:10px 0!important;
}
main nav .nav-item {
    background-color:transparent;
    border:none;
    color:darkslategray!important;
    font-size: 15px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    padding:10px 20px;
    margin:-9px 10px;
}
main nav .navbar-nav .nav-item:hover {
    background-color:darkslategray!important;
}
main nav .navbar-nav .nav-item a:hover {
    color:white!important;
}
main nav .navbar-toggler {
    font-size:14px;
    width:200px;
    margin:10px auto;
}
main .navbar {
    margin:10px auto;
}

main .btn:hover {
    background-color:rgb(77, 66, 66);
    color:white;
    border-bottom:3px solid orange;
    margin-bottom:-3px;
    padding-bottom:-3px;
}
main nav .btn:active {
    background-color:rgb(77, 66, 66);
    color:white;
    border-bottom:3px solid orange;
}

/*SALES STYLES*/

main .sales {
    margin:20px 0;
}
main .sales img {
    width:100%;
    padding:0!important;
    margin:0!important;
}
main .sales a {
    padding:2px;
    margin:0;
}

/*ARTICLE STYLES*/

main article hr {
    background-color:darkslategray;
    height:1px;
}
main article .card {
    color:gray;
    font-size:13px;
    text-align: justify;
    border:0;
}
main article .card {
    margin:0;
    margin:0 auto;
}
main article .card .card-body {
    margin:20px 0;
    padding: 0;
}
main article .card .card-title a {
    color:darkorange;
}
main article .card .card-links {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    text-align:center;
}
main article .card .card-links .to-basket {
    background-color:darkslategray;
    min-width:100px;
}
main article .card .card-links .product-info {
    background-color:darkorange;
    min-width:100px;
}
main article .card .card-links .to-basket:hover {
    background-color:darkorange;
    color:white;
    text-decoration:none;
}
main article .card .card-links .product-info:hover {
    background-color:darkslategray;
    color:white;
    text-decoration:none;
}
main article .card .card-links .to-basket, .product-info{
    color:white;
    padding:5px 10px;
    margin-bottom:5px;
    width:48%;
}
main article .card .card-title {
    font-size:16px;
}
main article .card .price {
    font-size: 19px;
    color:black;
}
main article .card .card-title a:hover {
    color:rgb(77, 66, 66);
    text-decoration: none;
}
.card {
    padding:0 30px;
}


/*FOOTER STYLES*/

footer {
    padding-top:40px;
    font-size:14px;
    color:gray;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}
footer a {
    text-decoration:none;
    color:gray;
}
footer a:hover {
    text-decoration:none;
    color:darkorange;
}
footer ul {
    text-align: left;
    padding:0 30px!important;
}
footer ul li {
    list-style-type: none;
    padding:0;
    margin:0; 
}
footer ul li:before {
    content: "> "; 
    color:darkorange;
}
footer .bottom-search {
    margin:10px 0;
}

footer .bottom-search .form-control {
    width:60%;
    height:30px;
    font-size: 12px;
    border-radius: 0;
}
footer .bottom-search .btn {
    width:25%;
    height:30px;
    padding:2px;
    font-size: 14px;
    background-color:darkslategray;
    border-radius: 0;
    border:none;
    color:white;
}
footer .bottom-search .btn-outline-success:hover {
    background-color:darkorange!important;
}
.copywrite {
    color:gray;
    font-size:13px;
    padding:0 30px 20px 30px;
}